body {
  font-family: Helvetica, arial, sans-serif;
  color: #673C3E;
  font-weight: 500;
  background-color:#faeadd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color:#b58983;
  border-style: solid;
  border-color: #895652;
  border-width: 0 0 2px 0;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 60px;
  margin: 0;
}
nav {
  display: flex;
}
a{
  text-decoration: none;
  color: #673C3E;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
}
a:hover {
  background-color: #895652;
  color: #efaca6;
}
h1{
  color: #673C3E;
  font-size: 20px;
}
 h2 {
  color: #673C3E;
  font-size: 18px;
  margin-bottom: 0;
 }
 form p {
  font-weight: 700px;
  margin-top: 0;
 }

.divImg {
  padding: 4rem 0;
  display: flex;
}
img {
  width: 260px;
  border-radius: 16px;
  margin-right: 2rem;
}
.divMain {
  background-color: #f6c9c5;
  margin: 3rem auto auto auto;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 16px;
  border-style: solid;
  border-color: #895652;
  border-width: 3px;
  box-shadow: rgba(110, 74, 40, 0.37) 0px 7px 29px 0px;
}


form {
  background-color:#b58983;
  border-radius: 0 12px 12px 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 1rem;
}

label {
  margin: 6px;
  margin-left: 2rem;
  color: #673C3E;
  display: flex;
  align-items: center;
}

input {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #673C3E;
  background-color: #faeadd;
  margin-left: 8px;
  padding: 5px;
}

input::placeholder{
  color: #b58983;
}
#buttonSubmit {
  background-color: #895652;
  border-style: none;
  color: #efaca6;
  font-weight: 600;
  width: 150px;
  padding: 10px;
  margin-top: 1rem;
}
#buttonSubmit:hover{
  background-color: #673C3E;
}
input[type="date"] {
  color: #673C3E;
}

input[type="color"] {
  height: 30px;
  width: 30px;
  padding: 1px;
}
/* input[type="radio"] {
  background-color: #faeadd;
  width: 20px;
  padding: 1rem;
  background-color: #673C3E;
} */
.divGender {
  display: flex;
}
input[type="range" i] {
  color: #673C3E;
  border-style: solid;
  appearance: none;
  background-color: #895652;
  height: 4px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #895652;
}

@media (max-width:645px) {
 .divMain {
  flex-direction: column;
  background-color: #b58983;
 }
 .divMain img {
  margin: 0;
  width: 200px;
 }
 form {
  border-radius: 0 0 12px 12px;
  margin: 0
 }
 a {
  margin: auto;
 }
 label {
  margin-left: 0;
 }
}

@media (max-width:355px) {
  a {
    display: none;
  }
}